
#Fri, 10 May 2013 19:03:05 +0530
app.name=NewApp

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app
<<<<<<<=Generated

# this property specifies a comma separated list of paths containing
# resources to copy to the build directory
app.resource.paths=

=\=\=\=\=\=\=

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=5.0.0.160
app.id=483e880e-3a2b-43e5-aede-0040b06374ad
>>>>>>>=Custom

app.framework.version=2.2.0.387
